registry = "https://registry.npmjs.com"
@signature:registry = https://pkgs.dev.azure.com/Signature-OpenSource/Feeds/_packaging/NetCore3/npm/registry/
//pkgs.dev.azure.com/Signature-OpenSource/Feeds/_packaging/NetCore3/npm/registry/:username = SignatureOpenSource
//pkgs.dev.azure.com/Signature-OpenSource/Feeds/_packaging/NetCore3/npm/registry/:always-auth = true
//pkgs.dev.azure.com/Signature-OpenSource/Feeds/_packaging/NetCore3/npm/registry/:_password = NGM1end1NTd3ZnY0emhlZ3ZnZWU2dTU3bXEycnJ0dTdoazNpN3hoZ3ZxcHlqdmN1N3NjcQ==
git-tag-version = false